{% extends 'base.html.twig' %}  
{% block body %}  


<!-- Formulaire de création pour Animal ou Production -->  
<div class="container" style="margin-top: 50px;">  
    <h1 style="text-align: center; margin-bottom: 50px;">Create New Animal</h1>
    <div class="card shadow p-4 bg-white">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="mb-3">
        {{ form_row(form.nom) }}
        {{ form_row(form.etat) }}
        {{ form_row(form.dateNaissance) }}
        <button type="submit" class="btn btn-success">Submit</button>
    {{ form_end(form) }}  
</div>
</div>

{% endblock %}