{% extends 'base.html.twig' %}

{% block title %}{{ block('title') == 'New' ? 'Créer' : 'Modifier' }} une ressource{% endblock %}

{% block body %}
    <h1>{{ block('title') == 'New' ? 'Créer' : 'Modifier' }} une ressource</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.type)}}
        {{ form_row(form.quantiteDisponible) }}
        {{ form_row(form.dateAjout) }}
        {{ form_row(form.catalogues) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_ressources_index') }}">Retour à la liste</a>
{% endblock %}